---
layout: default
permalink: everything/
---

<section>
  <h1>Everything</h1>

  <p>
    A big list of all the sessions we've got! You can filter by category in the menu.
  </p>
</section>

<section>
  <h2>Featured Sessions</h2>
  {% for post in site.posts %}
    {% if post.tags contains 'featured' %}
      <div class="media t-hackcss-media">

        <div class="t-hackcss-media-shift media-left">
          <img class="t-hackcss-media-image"
               src="{{ post.image_preview }}" alt="{{ post.title }}"
               title="{{ post.title }}" />
        </div>

        <div class="media-body">
          <div class="media-heading">
            <span>
              {% if post.external_url %}
                <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% endif %}
              {% if post.author %}
                &raquo; {{ post.author }}
              {% endif %}
            </span>
          </div>
          <div class="media-content">
            {{ post.short_description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>

<section>
  <h2>All Sessions</h2>
  {% for post in site.posts %}
    <div class="media t-hackcss-media">

      <div class="t-hackcss-media-shift media-left">
        <img class="t-hackcss-media-image"
             src="{{ post.image_preview }}" alt="{{ post.title }}"
             title="{{ post.title }}" />
      </div>

      <div class="media-body">
        <div class="media-heading">
          <span>
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% endif %}
            {% if post.author %}
              &raquo; {{ post.author }}
            {% endif %}
          </span>
        </div>
        <div class="media-content">
          {{ post.short_description }}
        </div>
      </div>
    </div>
  {% endfor %}
</section>
