---
layout: default
---

<div>

  <section>
    <h1>Open Leadership Camp Curriculum</h1>

    <p>
      Applying the values and principles from open collaborative communities 
      to public sector and civil society institutions. 
      From <a href="https://media.mit.edu" target="_blank">MIT Media Lab</a> & <a href="https://www.mozilla.org" target="_blank"> Mozilla</a>.
    </p>
  </section>

  <section>
    <h2>What is Open Leadership Camp?</h2>

    <p>
      Open Leadership Camp is a new learning program jointly 
      developed by the MIT Media Lab and Mozilla. 
      The camp is an opportunity for CEOs from government and public-interest 
      organizations to explore open innovation, open collaboration, 
      open technology -- and work on a project that uses these concepts 
      to make our organizations more successful. 
    </p>
  </section>

  <section>
    <h2>What is Open Leadership Curriculum?</h2>

    <p>
      This site contains all of the curriculum that we use for running an Open Leadership Camp. The curriculum itself is organized into three categories: (1)<a href="/curriculum/cases/">Cases</a>, (2)<a href="/curriculum/skills/">Skills</a>, (3)<a href="/curriculum/projects/">Projects</a>.
      In each of these categories there is curriculum and resources for several different sessions.
    </p>
  </section>

  <section>
    <h2>Getting started</h2>

    <p>
      <ol>
        <li>Check out the <a href="/curriculum/overview">curriculum overview</a>.</li>
        <li>Read <a href="/" target="_blank">"Building Open Leadership Together"</a> by Mitchell Baker & Joi Ito.</li>
        <li>Learn more about <a href="/" target="_blank">the camp</a> itself and <a href="/" target="_blank">nominate participants</a>.</li>
      </ol>

    </p>
  </section>

  <section>
    <h2>Contribute</h2>

    <p>
      This curriculum is a living repository. You can find it on <a href="https://gitlab.com/open-leadership/curriculum" target="_blank">Gitlab</a> and you can <a href="https://gitlab.com/open-leadership/curriculum/issues" target="_blank">suggest changes</a>. 
    </p>
  </section>

</div>
