---
layout: default
permalink: overview/
---

<section>
  <h1>Overview</h1>

  <p>
    An overview of the Open Leadership Camp Curriculum
  </p>
</section>

<section>

  <h2>Categories</h2>

  <div class="grid t-hackcss-cards">

    {% for project in site.projects %}

    <div class="cell -4of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ project.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if project.image %}
            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                 alt="{{ project.name }}"
                 title="{{ project.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ project.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
                 {{ project.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>

<section>
  <h2>Featured Sessions</h2>
  {% for post in site.posts %}
    {% if post.tags contains 'featured' %}
      <div class="media t-hackcss-media">

        <div class="t-hackcss-media-shift media-left">
          <img class="t-hackcss-media-image"
               src="{{ post.image_preview }}" alt="{{ post.title }}"
               title="{{ post.title }}" />
        </div>

        <div class="media-body">
          <div class="media-heading">
            <span>
              {% if post.external_url %}
                <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% endif %}
              {% if post.author %}
                &raquo; {{ post.author }}
              {% endif %}
            </span>
          </div>
          <div class="media-content">
            {{ post.short_description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>
