---
layout: default
permalink: skills/
---

<section>
  <h1>Skills</h1>

  <p>
    Build the skills needed to lead and work open.
  </p>
</section>

<section>
  <h2>Featured Projects</h2>
  {% for post in site.posts %}
    {% if post.categories contains 'skills' %}
      {% if post.tags contains 'featured' %}
        <div class="media t-hackcss-media">
          <div class="media-body">
            <div class="media-heading">
              <span>
                {% if post.external_url %}
                  <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                    {{ post.title }}
                  </a>
                {% else %}
                  <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                    {{ post.title }}
                  </a>
                {% endif %}
                {% if post.author %}
                  &raquo; {{ post.author }}
                {% endif %}
              </span>
            </div>
            <div class="media-content">
              {{ post.short_description }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</section>

<section>
  <h2>All Cases</h2>
  {% for post in site.posts %}
    {% if post.categories contains 'skills' %}
      <div class="media t-hackcss-media">
        <div class="media-body">
          <div class="media-heading">
            <span>
              {% if post.external_url %}
                <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                  {{ post.title }}
                </a>
              {% endif %}
              {% if post.author %}
                &raquo; {{ post.author }}
              {% endif %}
            </span>
          </div>
          <div class="media-content">
            {{ post.short_description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>