<footer class="t-hackcss-footer">
  <hr />

  <h3 class="footer-heading">{{ site.title }}</h3>

  <div class="grid t-hackcss-sm-reversed-grid">

    <div class="cell -5of12">
      <div class="contact-list">
        <p>
          {{ site.your_name }} >
          <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
        </p>

        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon" target="_blank">{% include {{ template }} %}</i>
            <a href="{{ social.link }}" target="_blank">{{ social.username }}</a>
          </span>
        {% endfor %}
      </div>
    </div>

    <div id="footer-spacer" class="cell -1of12"></div>

    <div class="cell -6of12">
      <p>{{ site.description }}</p>
    </div>
  </div>

</footer>
